@use './variables' as *;

%heading-1 {
	font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
	line-height: 1.166;
	letter-spacing: -0.0125em;
}

%heading-2 {
	font-size: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
	line-height: 1.3333;
	letter-spacing: -0.01267em;

	@media screen and (min-width: 768px) {
		line-height: 1.166;
		letter-spacing: -0.01222em;
	}
}

%heading-3 {
	font-size: 1.125rem;
	line-height: 1.1667;
	letter-spacing: -0.01222em;
}

%text-1 {
	font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
	line-height: 1.857;
	letter-spacing: -0.0121em;

	@media screen and (min-width: 768px) {
		letter-spacing: -0.0125em;
		line-height: 1.625;
	}
}

%text-2 {
	font-size: 1rem;
	line-height: 1.625;
	letter-spacing: -0.0125em;
}

%text-3 {
	font-size: 0.875rem;
	line-height: 1.4286;
	letter-spacing: -0.0121em;
}

%btn {
	font-size: 1rem;
	line-height: 1.1667;
	letter-spacing: -0.0125em;
}