$colors: (
  "red": (
    400: hsl(0, 100%, 74%)
  ),
  "green": (
    300: hsl(154, 65%, 68%),
    400: hsl(154, 59%, 51%)
  ),
  "blue": (
    300: hsl(246, 25%, 77%), 
    400: hsl(248, 32%, 49%), 
    500: hsl(249, 10%, 26%)
  ),
  "light": (
    100: hsl(0, 0%, 100%),
  ),
  "gray": (
    500: hsl(248,9%, 26%),
  ),
);

// typography
$font-weights: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700
);

$font-styles: (
  "normal": normal,
  "italic": italic
);

$text-aligns: (
  "left": left,
  "center": center,
  "right": right,
  "justify": justify
);

$fs-family: "Poppins", serif;

//spacing
$card-padding: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);

//border
$border-radius-1: 0.625rem;
$border-radius-2: 0.3125rem;

//breakpoints
$breakpoints: (
  "sm": 375px,
  "md": 768px,
  "lg": 1024px
)