@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../abstract/placeholder';
@use '../abstract/functions' as *;


.card {
	display: flex;
	flex-direction: column;
	border-radius: $border-radius-2;
	box-shadow: $box-shadwo-1;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		border-radius: $border-radius-1;
		max-width: 635px;
		margin-inline: auto;
	}
}