@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../abstract/placeholder';
@use '../abstract/functions' as *;


.card {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: $card-padding;
	border-radius: $border-radius-1;
}