@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../abstract/functions' as *;
@use '../abstract/placeholder';


.hero {
	display: flex;
	flex-direction: column;
	gap: 4rem;

	@media screen and (min-width: 1024px) {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 2.8125rem;
		margin-inline: auto;
	}

	&__left {
		display: flex;
		flex-direction: column;
		gap: clamp(1rem, 0.934rem + 0.2817vw, 1.1875rem);

		@media screen and (min-width: 1024px) {
			flex-basis: 525px;
		}

		&>* {
			margin-block: 0;
		}

		&-title {
			@extend %heading-1;
			max-inline-size: 15ch;
			margin-inline: auto;

			@media screen and (min-width: 1024px) {
				max-inline-size: 20ch;
				margin-inline: 0 auto;
			}
		}

		&-body {
			@extend %body-text;
			max-inline-size: 36ch;
			margin-inline: auto;

			@media screen and (min-width: 1024px) {
				max-inline-size: 65ch;
				margin-inline: 0 auto;
			}
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
		max-width: 540px;
		margin-inline: auto;

		@media screen and (min-width: 1024px) {
			flex-basis: 540px;
			margin-inline: unset;
		}

		&-title {
			padding-block: 1.125rem;
			padding-inline: 4rem;
			border-radius: $border-radius-1;
			box-shadow: 0 0.5rem 0 rgba(clr("gray", 500), 0.15);

			@media screen and (min-width: 1024px) {
				padding-block: 1.0625rem;
			}

			h2 {
				@extend %heading-2;
			}

		}
	}
}